@model IEnumerable<Deckster.Server.Controllers.GameVm>

<div x-data="vm">
  
  <table>
    <thead>
    
    </thead>
    <tbody>
    <template x-for="game in games">
      <tr>
        <td><a x-text="game.id" x-bind:href="url(game.id)"></a></td>
        <td x-text="game.state"></td>
        <td><button x-on:click="start(game.id)">Start</button></td>
      </tr>

    </template>
    </tbody>
  </table>
  <button x-on:click="create()">Create</button>
</div>
<script defer src="content/alpine.min.js"></script>
<script>
  (function() {
    
    const vm = {
      games: @Html.Raw(Json.Serialize(Model)),
      create: async function(){
        const response = await fetch(`${document.location.pathname}/create`, {
          method: "POST",
          headers: {
            "Accept": "application/json"
          }
        });
        await this.refresh();
      }, 
      refresh: async function () {
        const response = await fetch(`${document.location.pathname}/games`, {
          method: "GET",
          headers: {
            "Accept": "application/json"
          }
        });
        switch (response.status) {
          case 200: {
            this.games = await response.json();
          }
        }
      },
      
      start: async function(id) {
        const response = await fetch(`${document.location.pathname}/games/${id}/start`, {
          method: "POST",
          headers: {
            "Accept": "application/json"
          }
        });
        await this.refresh();
      },
      url: function (id) {
        return `${document.location.pathname}/games/${id}`;
      }
    };
    
    document.addEventListener("alpine:init", () => {
      Alpine.data("vm", () => (vm));
    });
    
    vm.refresh();
    setInterval(vm.refresh, 5000);
    
  })();
</script>