@model Deckster.Server.Data.DecksterUser
<h1>@Model.Name</h1>
<table>
  <tbody>
  <tr>
    <td>Name</td><td>@Model.Name</td>
    
  </tr>
  <tr>
    <td>Token</td><td>@Model.AccessToken</td>
  </tr>
  </tbody>
</table>

<div style="margin-top: 3rem;">
  <a href="/">Get outta here</a>
</div>