@model Deckster.Server.Controllers.HomeIndexModel

<h3>Games</h3>
<ul class="no-bullets centered">
  @foreach (var game in Model.GameTypes)
  {
    <li>
      <a href="@game.Href">@game.Name</a>
    </li>
    
  }
</ul>