<div x-data="vm">
  Crazy eights
  <ul>
    <template x-for="game in games">
      <li x-text="game.id"></li>
    </template>
  </ul>
  <button x-on:click="create()">Create</button>
</div>

<script>
  (function() {
    
    const vm = {
      games: [],
      create: function () {
        console.log("create");
        if (!socket) {
          return;
        }
        socket.send(JSON.stringify({command:"create"}));
      }
    };
  
    document.addEventListener("alpine:init", () => {
      Alpine.data("vm", () => (vm)); 
    });
    
  })();
</script>

